html {
    height: 99%;
}

body {
    height: 100%;
}

.screen {
    height: 100%;
}

#displayHomeUser {
    min-height: 100%;
}


/* switchButton */

.custom-switch .custom-control-label::before {
    /* Double-sized Checkboxes */
    transform: scale(1.3);
}


/*Affichage preview photo*/

#preview {
    width: 200px;
    display: inline-block;
}

#preview img {
    width: 100%;
}


/*Affichage photo "modifier une annonce"*/

.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    outline: 0;
    max-width: 200px;
}

.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    border-color: red;
}