#loginContainer,
#forgotPasswordContainer,
#addAnAdvertisementForm {
    padding-top: 30px;
}

#loginForm {
    padding-top: 30px;
}

#preview {
    width: 200px;
    display: inline-block;
}

#preview img {
    width: 100%;
}