html {
    height: 99%;
}

body {
    height: 100%;
}

#loginContainer,
#forgotPasswordContainer,
#addAnAdvertisementForm,
#displayHomeUser {
    padding-top: 30px;
}

#loginForm {
    padding-top: 30px;
}

#preview {
    width: 200px;
    display: inline-block;
}

#preview img {
    width: 100%;
}

#screen {
    display: flex;
    min-height: 100%;
}

#displayHomeUser {
    min-height: 100%;
    /* justify-content: center; */
}


/* .icons {
    text-align: center;
    width: 50%;
}

a {
    color: black;
} */